<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  </head>
<body>
<header>
    <%- include('../header') %>
</header>
<main>
    <div class="container">  
        <video width="320" height="240" autoplay playsinline muted id="video"></video>
        <br><br>
        <button type="button" class="btn btn-primary" id="pred_button" onclick="predict()">예측</button>
        <div id="prediction"></div>
    </div>
</main>
</body>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet@1.0.0"> </script>

<script type="text/javascript">
    let webcam, model;
    async function app() {
        model = await mobilenet.load()
				//웹캠 비디오 스트림을 텐서로 변환하기 위한 객체 생성, .capture()를 통해 이미지를 받아올 수 있음
        webcam = await tf.data.webcam(video, {
            resizeWidth: 224,
            resizeHeight: 224,
        });
    }
    async function predict() {
        const image = await webcam.capture();
        result = await model.classify(image);
        document.getElementById("prediction").innerText = `
            prediction: ${result[0].className}\n
            probability: ${result[0].probability}
        `;
    }
    app()
</script>
</html>